name: CI for Integration Service ROS 2 SystemHandle

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'ros2/docs/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'ros2/docs/**'

jobs:
  ros2-sh_CI:
    strategy:
      matrix:
        node: [foxy, galactic]

    runs-on: ubuntu-20.04
    container: ros:${{ matrix.node }}

    steps:
      - uses: actions/checkout@v2
        with:
          path: src/ros2-sh

      - name: Download required dependencies
        run: |
          apt update
          DEBIAN_FRONTEND=noninteractive apt install -y cmake gcc g++ git libboost-dev libboost-program-options-dev libyaml-cpp-dev ros-${{ matrix.node }}-rmw-fastrtps-cpp

      - name: Download the Integration Service
        run: |
          git clone --recursive -b feature/infinite_loops https://github.com/eProsima/Integration-Service src/integration-service

      - name: Build
        run: |
          . /opt/ros/${{ matrix.node }}/setup.sh
          colcon build --cmake-args -DCMAKE_BUILD_TYPE=DEBUG -DBUILD_ROS2_TESTS=ON --event-handlers console_direct+

      - name: Test
        run: |
          . /opt/ros/${{ matrix.node }}/setup.sh && . install/local_setup.sh && RMW_IMPLEMENTATION=rmw_fastrtps_cpp colcon test --packages-select is-ros2 --event-handlers console_direct+
          colcon test-result
